.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .registerPage{
        margin-right: 25px;
        background-color: blue;
        font-size: large;
        color: white;
    }
    .searchPage{
        background-color: red;
        font-size: large;
        color: white;
    }
    button{
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }
}